.root {
  @apply relative flex flex-col h-full overflow-hidden text-center bg-black;
}

.imageWrapper {
  @apply relative overflow-hidden transition-all duration-200 border-b-2 border-transparent shadow-none;
}
.root:hover .imageWrapper {
  transform: scale(1.12) translateY(-12px) rotate(4deg);
  box-shadow: 0px 2.5px 0 0px red;
}

.content {
  @apply p-4 border-b-1 border-base-gray-border;
}

.title {
  @apply px-4 text-lg font-bold;
}

.metadata {
  @apply grid grid-cols-2;
  gap: 1px;
}

.metadata.full {
  @apply grid grid-cols-1;
}

.metadata > div + div {
  @apply border-l-1 border-base-gray-border;
}

.metadata > div {
  @apply flex flex-col justify-center p-4;
}

.metadataLabel {
  @apply text-xs text-base-gray-text;
}

.metadataValue {
  @apply text-sm font-bold;
}
